.page {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding: 16px;
  background: #fff;

  & .background {
    position: fixed;
    top: 0;
    background: #edfbff;
  }

  & .main {
    z-index: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    max-width: 97.5%;

    & h1 {
      font-weight: bold;
      font-size: 300%;
    }

    & h3 {
      text-align: center;
      margin-top: 30px;
      font-size: 125%;
    }
  }
}
